//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800';

$fontFamily: 'Open Sans', sans-serif;

$baseFontSize: 16px;


$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors
$color: #444444;
$gray: #dcdcdc;
$grayContact: #ecf0f1;
$footerBgColor: #2d3e50;
$red: #c41230;
$green: #16a086;
$bgButton: #1bbc9b;
$black: #333333;
$white: #ffffff;
$pink: #bd415e;
$grayBg:#f5f5f5;
$grayLine:#dcdcdc;
$strongGray:#8e8e8e;
$lightred:#ed1c24;
$supGray:#666666;
$lightGray:#e8e8e8;
