.table-size{
  font-size: 14px;
  color: $black;
  margin-top: 15px;

  right: 40px;
  top:50px;
  position: relative;

}
.table-size::after {
  content: '';
  width: 125px;
  height: 1px;
  background: $black;
  position: absolute;
  left:50%;
  bottom: 0;
  transform: translateX(-50%);
}